@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 351 28% 95%;
    --foreground: 351 5% 10%;
    --card: 351 28% 90%;
    --card-foreground: 351 5% 15%;
    --popover: 351 28% 95%;
    --popover-foreground: 351 95% 10%;
    --primary: 351 63.8% 50.2%;
    --primary-foreground: 0 0% 100%;
    --secondary: 351 28% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 313 28% 85%;
    --muted-foreground: 351 5% 35%;
    --accent: 313 28% 80%;
    --accent-foreground: 351 5% 15%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 351 5% 90%;
    --border: 351 28% 50%;
    --input: 351 28% 28%;
    --ring: 351 63.8% 50.2%;
    --radius: 0.3rem;
  }
  .dark {
    --background: 351 28% 10%;
    --foreground: 351 5% 90%;
    --card: 351 28% 10%;
    --card-foreground: 351 5% 90%;
    --popover: 351 28% 5%;
    --popover-foreground: 351 5% 90%;
    --primary: 351 63.8% 50.2%;
    --primary-foreground: 0 0% 100%;
    --secondary: 351 28% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 313 28% 25%;
    --muted-foreground: 351 5% 60%;
    --accent: 313 28% 25%;
    --accent-foreground: 351 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 351 5% 90%;
    --border: 351 28% 28%;
    --input: 351 28% 28%;
    --ring: 351 63.8% 50.2%;
    --radius: 0.3rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
