@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --muted: 351 21% 85%;
    --muted-foreground: 351 6% 31%;
    --popover: 351 60% 99%;
    --popover-foreground: 351 63% 2%;
    --card: 351 60% 99%;
    --card-foreground: 351 63% 2%;
    --border: 351 3% 89%;
    --input: 351 3% 89%;
    --primary: 0 100% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 351 6% 80%;
    --secondary-foreground: 351 6% 20%;
    --accent: 351 14% 73%;
    --accent-foreground: 351 14% 13%;
    --destructive: 10 91% 24%;
    --destructive-foreground: 10 91% 84%;
    --ring: 351 64% 50%;
    --chart-1: 351 64% 50%;
    --chart-2: 266 64% 50%;
    --chart-3: 212 64% 50%;
    --chart-4: 142 64% 50%;
    --chart-5: 53 64% 50%;
    --font-merriweather: "Merriweather", serif;

    --radius: 0.5rem;
  }

  .dark {
    --background: 351 38% 4%;
    --foreground: 351 33% 98%;
    --muted: 351 21% 15%;
    --muted-foreground: 351 6% 69%;
    --popover: 351 38% 4%;
    --popover-foreground: 351 33% 98%;
    --card: 351 38% 4%;
    --card-foreground: 351 33% 98%;
    --border: 351 3.05% 12.69%;
    --input: 351 3% 13%;
    --primary: 351 64% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 351 2% 8%;
    --secondary-foreground: 351 2% 68%;
    --accent: 351 10% 18%;
    --accent-foreground: 351 10% 78%;
    --destructive: 10 91% 51%;
    --destructive-foreground: 0 0% 100%;
    --ring: 351 64% 50%;
    --chart-1: 351 64% 50%;
    --chart-2: 266 64% 50%;
    --chart-3: 212 64% 50%;
    --chart-4: 142 64% 50%;
    --chart-5: 53 64% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
